#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

 /* Everything for the header: logo, text under logo, and textbox with button */
.header {
  position: absolute;
  right: 0em;
  top: 0em;
  width:100%;
  margin: 0;
  padding: 0;

  background: rgb(85, 85, 85, .7);
  color: #f1f1f1;
  text-align: left;
}
.logo {
  height: 6em;
  padding-top: 2px;
  padding-left: 2px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #48adffc4);
}

.legal {
  color: #979797;
  padding-left: 5em;
  padding-bottom: 2px;
  margin: 0;
}

.textboxC {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 3.5em;
}
::placeholder {
  color: #48adffc4;
}
.textbox:focus::placeholder {
  color: #6966ff;;
}

.textbox {
  width: 306.5px;
  height: 30px;
  font-size: 14pt;

  border-radius: 25px;
  border: 2px solid #48adffc4;
  padding: 5px;
  padding-left: 16px;
  padding-right: 93.5px;
}
.textbox:focus {
  outline: none !important;
  border:2px solid #6966ff;
}

.textbutton {
  position: absolute;
  right: 0;
  border-radius: 25px;
  border: 2px solid #48adffc4;

  color: #48adffc4;
  background-color: #2e2e3600;
}
.textbutton:hover {
  border:2px solid #6966ff;
  color: #6966ff;
}
 /* Bacground image */
body {
  background-image: url("assets/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Data in the center of the page */
.info {
  filter: drop-shadow(1.5px 1.5px black);
  padding: 0;
  margin: 0;
}