#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding-top: 2px;
  padding-left: 2px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #48adffc4);
}

.legal {
  color: #979797;
  padding-left: 5em;
  padding-bottom: 2px;
}

.header {
  position: absolute;
  right: 0em;
  top: 0em;
  width:100%;
  margin: 0;
  padding: 0;

  background: rgb(85, 85, 85, .7);
  color: #f1f1f1;
  text-align: left;
}
.textboxC {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 3.5em;
}
::placeholder {
  text-align: center;
  color: #48adffc4;
}
input[type="text"] {
  width: 400px;
  height: 30px;
  font-size: 14pt;

  border-radius: 25px;
  border: 2px solid #48adffc4;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  column-gap: 0px;
}

body {
  background-image: url("assets/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p, h1 {
  filter: drop-shadow(1.5px 1.5px black);
  padding: 0;
  margin: 0;
}